<!DOCTYPE html>
<html>

<head>
    <title>Approximation Comparison</title>
    <link href="https://cdn-cloudfront.riverside.rocks/assets/simple.css" rel="stylesheet" />
    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js "></script>
</head>

<body>
    <script>
        function work(s){
            
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: { "q": s, "t": "integral", "upper": 10, "lower": 0, "blocks": document.getElementById("n_val").value },
                    success: function (response) {
                        document.getElementById("integral").innerHTML = response
                    },
                    error: function (error) {
                        console.error('POST request failed.');
                        console.error('Error:', error);
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: { "q": s, "t": "midpoint", "upper": 10, "lower": 0, "blocks": document.getElementById("n_val").value },
                    success: function (response) {
                        document.getElementById("midpoint").innerHTML = response
                    },
                    error: function (error) {
                        console.error('POST request failed.');
                        console.error('Error:', error);
                    }
                });
        }


        $(document).ready(function () {
            
            document.getElementById("n_val").oninput = function () {
                document.getElementById("n_count").innerHTML = '"n" value: ' + this.value;
                work($('#items').val())
            };
            $('#items').change(function () {
                var s = $(this).val();
                work(s)
            });
        });
    </script>
    <h1>Approximation Comparison Tool</h1>
    <br>
    <select name="items" id="items">
        <option value="1">sin(x)</option>
        <option value="2">cos(x)</option>
        <option value="3">x^2</option>
        <option value="4">x^(1/2) + tan(2x)</option>
    </select>
    <input type="range" id="n_val" min="1" max="10000" value="2">
    <p id="n_count">"n" value: 2</p>
    <table class="table">
        <tr>
            <td>Integral<br>
                <p id="integral"></p>
            </td>
            <td>Midpoint<br>
                <p id="midpoint"></p>
            </td>
        </tr>
        <tr>
            <td>Left<br>
                <p id="left"></p>
            </td>
            <td>Right<br>
                <p id="right"></p>
            </td>
        </tr>
    </table>
</body>

</html>